.home-BgSilde1 {
  margin: 60px 0;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
}


.home-content {
  flex: 1.5;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: auto;
}

.title {
  font-size: 48px;
  font-weight: 600;
  line-height: 1.2;
}

.desc {
  font-size: 16px;
  line-height: 1.7;
  color: #555;
  max-width: 800px;
}

.actions {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  .lamdengay {
    border: 1px solid #1677ff;
    color: #1677ff;
    background-color: #fff;

    &:hover {
      background-color: #e6f4ff;
    }
  }
}


.imgMainseo {
  flex: 1;
  display: flex;
  justify-content: end;
  align-items: center;

  img {
    width: 300px;
    max-width: 520px;
    height: auto;
    border-radius: 20px;
    object-fit: cover;
  }

}

@media (max-width: 768px) {
  .home-BgSilde1 {
    margin: 20px 0;
    margin-bottom: 40px;
  }

  .home-content {
    max-width: 100%;
  }

  .title {
    font-size: 32px;
  }

  .desc {
    font-size: 14px;
  }

  .imgMainseo {
    display: none;
  }
}