.custom-card-horizontal {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
  width: 100%;
  cursor: pointer;

  .image-wrapper-card {
    width: 120px;
    min-width: 120px;
    height: 160px;
    overflow: hidden;
    border: 1px solid black;

    .custom-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 4px;
    .custom-title,
    .custom-author,
    .custom-time,
    .custom-nameshare,
    .custom-nameshare .label,
    .custom-nameshare .name {
      transition: color 0.3s ease;
    }

    &:hover {

      .custom-title,
      .custom-author,
      .custom-time,
      .custom-nameshare,
      .custom-nameshare .label,
      .custom-nameshare .name {
        color: #0958d9;
      }
    }

    .custom-title {
      font-size: 14px;
      font-weight: 600;
      line-height: 1.4;
      color: #000;

      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    .custom-author {
      font-size: 13px;
      color: #333;
      font-weight: 500;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    .custom-nameshare {
      font-size: 13px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;

      .label {
        color: #000;
      }

      .name {
        color: #000;
      }
    }

    .custom-time {
      display: flex;
      align-items: center;
      gap: 6px;
      font-size: 13px;
      color: #777;
    }

  }
}