.dropdown-custom {

  .ant-dropdown-menu {
    padding: 0px;
    border-radius: 3px;
    min-width: 180px;
    background: #fff;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
  }


  .ant-dropdown-menu-item {
    padding: 0;
  }


  .dropdown-item {
    display: flex;
    align-items: center;
    gap: 8px;

    padding: 10px 12px;
    border-radius: 8px;

    font-size: 14px;
    font-weight: 500;
    color: #1f1f1f;

    cursor: pointer;
    transition: background 0.2s ease, color 0.2s ease;

    &:hover {
      background: #f5f5f5;
    }


    .icon {
      font-size: 16px;
      display: flex;
      align-items: center;
    }


    &.danger {
      color: #ff4d4f;

      &:hover {
        background: #f5f5f5;
      }
    }
  }
}
