.card-grid {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 992px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .card-grid {
    grid-template-columns: 1fr;
  }
}

.de-thi-hot {
  h2 {
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 32px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, "Helvetica Neue", Arial, sans-serif;
  }

  .xemThem {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    align-items: center;

    a {
      color: #1677ff;
      text-decoration: none;
      font-size: 18px;

      &:hover {
        color: #0958d9;
      }
    }
  }
}
