.footer {
    background: #f5f5f5;
    color: black;
    padding: 60px 0 40px;

    &__container {
        margin: 0 auto;
        max-width: 920px;
    }

    &__logo-section {
        display: flex;
        flex-direction: column;

    }

    &__logo-wrapper {
        display: flex;
        align-items: center;
        gap: 16px;

        span {
            font-weight: 700;
            color: #1677ff;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 30px;
        }
    }

    &__content-wrapper {
        display: flex;
        justify-content: space-between;
        padding: 20px 0px;
    }

    &__description {
        max-width: 520px;
        font-size: 15px;
        line-height: 1.6;
        color: black;
    }

    &__websites {
        h2 {
            font-size: 18px;
            margin-bottom: 16px;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                bottom: -5px;
                left: 0;
                width: 80%;
                height: 3px;
                background: linear-gradient(90deg, var(--pinkGlobal), transparent);
                border-radius: 2px;
            }
        }
    }

    &__website-list {
        display: flex;
        flex-direction: column;
    }

    &__website-link {
        color: black;
        text-decoration: none;
        font-size: 16px;
        padding: 8px 0;
        transition: all 0.3s ease;
        position: relative;

        &::before {
            content: '→';
            position: absolute;
            left: 0;
            color: var(--pinkGlobal);
            opacity: 0;
            transform: translateX(-10px);
            transition: all 0.3s ease;
        }

        &:hover {
            color: black;
            padding-left: 25px;

            &::before {
                opacity: 1;
                transform: translateX(0);
            }
        }
    }

    &__divider {
        margin: 40px 0 24px;
        height: 1px;
        background: linear-gradient(90deg,
                transparent,
                rgba(0, 0, 0, 0.2),
                transparent);
    }

    &__bottom {
        text-align: center;
        font-size: 14px;
        color: #8a94a6;
    }

    @media (max-width: 768px) {
        .footer {
            &__container {
                padding: 0px 16px;
            }

            &__content-wrapper {
                flex-direction: column;
                align-items: flex-start;
                gap: 30px;

                span {
                    font-size: 20px;
                }
            }

            &__websites h2 {
                font-size: 18px;
            }
        }
    }
}