.gioiThieu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px 40px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  .item {
    text-align: center;

    .icon {
      font-size: 32px;
      margin-bottom: 16px;
    }

    h3 {
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 12px;
    }

    p {
      font-size: 14px;
      line-height: 1.6;
      color: #555;
    }
  }
}


@media (max-width: 992px) {
  .gioiThieu {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media (max-width: 576px) {
  .gioiThieu {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}


.mucTieu {
  text-align: center;
  padding: 50px 0px;

  h1 {
    font-size: 32px;
    font-weight: 600;
    color: #111827;
    line-height: 1.3;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 24px 0px;
  }

  p {
    font-size: 16px;
    line-height: 1.8;
    color: #555;
    margin: 0 auto;
  }

  @media (max-width: 1025px) {
    h1 {
      font-size: 24px;
    }

    p {
      font-size: 15px;
      line-height: 1.7;
      text-align: center;
    }
  }
}