.howtogetkey {
  margin-top: 50px;
  display: flex;
  align-items: end;
  gap: 32px;
  display: flex;
  justify-content: space-between;

  &-content {
    flex: 1;

    h1 {
      font-size: 20px;
      font-weight: 600;
      text-align: start;
      padding-bottom: 30px;

      @media (max-width: 768px) {
        padding-bottom: 20px;
      }
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      counter-reset: step;
    }

    li {
      counter-increment: step;
      position: relative;
      padding-left: 36px;
      margin-bottom: 14px;
      line-height: 1.6;
      font-size: 15px;

      &::before {
        content: counter(step);
        position: absolute;
        left: 0;
        top: 0;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background: #1677ff;
        color: #fff;
        font-size: 13px;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      strong {
        font-weight: 600;
      }

      a {
        color: #1677ff;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &-video {
    flex: 1;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;

    iframe {
      width: 100%;
      aspect-ratio: 16/8.63;
      border: 1px solid #d9d9d9;
      border-radius: 3px;
    }
  }
}


@media (max-width: 768px) {
  .howtogetkey {
    flex-direction: column;
    margin-top: 20px;

    &-video {
      margin-bottom: 30px;
      margin-top: 0px;

      iframe {
        width: 100%;
      }
    }
  }
}

.mucTieuChuyenAnh {
  padding: 50px 0px;
  text-align: center;
  padding-bottom: 0px;

  h1 {
    font-size: 32px;
    font-weight: 600;
    color: #111827;
    line-height: 1.3;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  p {
    font-size: 16px;
    line-height: 1.8;
    color: #4b5563;
    margin: 0 auto;
  }

  @media (max-width: 768px) {
    padding: 24px 0px;
    padding-bottom: 0px;

    h1 {
      font-size: 24px;
      padding-bottom: 10px;
    }

    p {
      font-size: 15px;
      line-height: 1.7;
    }
  }
}