
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(28, 28, 28, 0.95);
  z-index: 99999;

  display: flex;
  align-items: center;
  justify-content: center;

  pointer-events: all;
}

.overlay-content {
  width: 320px;
  text-align: center;
  padding: 0px 16px;
}


.overlay-text {
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1.2px;
  margin-bottom: 12px;
}

.overlay-bar {
  width: 100%;
  height: 20px;
  border: 2px solid #fff;
  box-sizing: border-box;
  border-radius: 3px;
}

.overlay-bar__progress {
  height: 100%;
  background: #fff;
  width: 0;
  transition: width 0.25s linear;
}
