.pagination-custom {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 6px;
  margin-top: 24px;
  flex-wrap: wrap;
}

.page-item {
  min-width: 36px;
  height: 36px;
  padding: 0 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  text-align: center;
  line-height: 34px;
  text-decoration: none;
  color: #333;
  transition: all 0.2s ease;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  &:hover {
    background: #f5f5f5;
  }

  &.active {
    background: #1677ff;
    color: white;
    border-color: #1677ff;
  }
}

.dots {
  padding: 0 6px;
  color: #888;
}
